<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed table-hover">
    	<thead>
        	<tr>
            	<th>Id</th>
            	<th>Nombre</th>
            	<th>Codigo</th>
            	<th>Valor</th>
        	</tr>
    	</thead>
    	<tbody id="filas">
    	</tbody>
	</table>
</div>
