<td style="text-align: right;"><%= idPais %></td>
<td><%= nombrePais %></td>
<td><%= idCiudad %></td>
<td><%= nombreCiudad %></td>
<td><%= valor %></td>
<td><%= descripcionTipoJJOO %></td>
<td><%= numeroVecesSede %></td>
